:root {
    --pink: #FF007C;
    --light-pink: #F172A1;
    --offwhite: #F0EBF4;
    --purple: #B39BC8;
    --cyan: #A1C3D1;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('tff'),
  }
  @keyframes changeBg {
    0% {
      background-image: url('image1.jpg');
    }
    50% {
      background-image: url('image2.jpg');
    }
    100% {
      background-image: url('image3.jpg');
    }
  }
body{
    font-size: 32px;   
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Raleway', sans-serif; 
    background-image: linear-gradient(to right, var(--offwhite) , var(--cyan));
}
.bg-img {
    /* The image used */
    background-image: url("image1.jpg");
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    animation-name: changeBg;
    animation-duration: 8s; /* duration of the animation */
    animation-iteration-count: infinite; /* repeat the animation indefinitely */
  }
  .container {
    position: absolute;
    margin: 2vh;
    width: auto;
    height: 95vh;
    background-color: rgba(0,0,0,.75)
  }
  .topnav {
    overflow: hidden;
    }
  .topnav li {
    color: #f2f2f2;
    text-align: center;
    padding: 6vh;
    text-decoration: none;
    font-size: 1.5vw;
    display: inline;
  }
  .topnav a:visited, a:active,a:link {
    background-color: transparent;
    color: var(--offwhite);
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: transparent;
    color: var(--pink);
    text-decoration: none;
  }
  .name-header{
    padding-top: 12vh;
  }
  .header-company-title, .subheader, .Call-us{
    color: var(--pink);
    padding-left: 5vw;
    font-family: "Raleway";
  }
  .contact-phone, .Call-us{
  }
  .location-header{
    color: var(--pink);
    background: black;
  }
  .location{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, var(--pink) , var(--purple));
    margin: 0;
    padding: 2vh;
  }
  .title{
    display: flexbox;
    float: right;
    width: 50vw;
  }
  .About-us{
    display: block;
  }
  .title{
    margin-top: 25vh;
  }
  .title h1{
    text-align: center;
    font-size: 32px;
  }
  .title p{
    font-size: 28px;
    text-align: center;
  }
  .First-para-home{
    display: flex;
    gap: 5px;
    background-image: linear-gradient(to right, var(--offwhite) , var(--cyan));
  }
  .services-home{
    background-image: linear-gradient(to right, var(--offwhite) , var(--cyan));
    margin-bottom: 25px;
  }
  .services-title{
    text-align: center;
  }
  .services-line {
    width: 50vw;
    }
  .outer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .under-services-title{
    text-align: center;
  }
  .table-of-services{
    display: flex;
    justify-content: space-evenly;
    /* margin-right: -15px;
    margin-left: -15px; */
  }
  .henna-column{
    display: block;
    width: 50vh;
  }
  .henna-column p{
    font-size: 20px;
    line-height: 1.5;
  }
  .henna-column img{
    width: 50vh;
  }
  .henna-column button{
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
}
.henna-column button:hover{
  background-color: black;
  color: white;
}


  .bridal-column{
    display: block;
    width: 50vh;
  }
  .bridal-column img{
    width: 50vh;
  }
  .bridal-title{
    font-size: 28px;
  }
  .bridal-column p{
    font-size: 20px;
    line-height: 1.5;
  }
  .bridal-column button{
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;    
  }
  .bridal-column button:hover{
    background-color: black;
  color: white;
  }
  .henna-title{
    font-size: 28px;
  }
  .hair-column{
    display: block;
    width: 50vh;
  }
  .hair-column img{
    width: 50vh;
  }
  .hair-column p{
    font-size: 20px;
    line-height: 1.5;
  }
  .hair-title{
    font-size: 28px;
  }
  .hair-column button{
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
  }
  .hair-column button:hover{
    background-color: black;
  color: white;
  }
  .makeup-column{
    display: block;
    width: 50vh;
  }
  .makeup-column p{
    font-size: 20px;
    line-height: 1.5;
  }
  .makeup-column img{
    width: 50vh;
  }
  .makeup-title{
    font-size: 28px;
  }
  .makeup-column button{
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
  }
  .makeup-column button:hover{
    background-color: black;
  color: white;
  }
  .contact-header{
      text-align: center;
      color: white;
      background-image: linear-gradient(to right, var(--pink) , var(--purple));
      margin: 0;
      padding: 2vh;
  }
  .contact-header a:visited, a:active,a:link {
    background-color: transparent;
    color: var(--offwhite);
    text-decoration: none;
    cursor: pointer;
  }
  .contact-header a:hover {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }
  .footer{
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, black , black);
    margin: 0;
    padding: 1vh;
    height: 12vh;
  }
  
  /* /* .top-bar-faded{
    z-index: 2;
    background-color: none;
    background: transparent;
}
.top-bar-section li{
    list-style-type: none;
    display: inline-block;
}
.top-bar-section a:link, a:visited, a:hover, a:active{
    color: var(--purple);
    text-decoration: none;
    padding: 0 2vw 0 2vw;
}
.header-company-wrapper {
    display: block;
    clear: both;
    float: left;
    height: calc(100vh - 255px);
    position: relative;
    padding: 25px 50px;
    width: 100%;
} 
.header-company-title {
    color: var(--light-pink);
    margin: 27vh 0 0 0;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    letter-spacing: 6px;
} */
/* .Call-us {
    font-family: "Raleway", sans-serif;
    color: var(--light-pink);
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 32px 0;
} */
/* .Call-us a:link, a:visited, a:hover, a:active{
    color: var(--purple);
    text-decoration: none;
} */
/* .header-content-container {
    background: rgba(17,17,17,0.5);
    height: calc(100vh - 80px);
    max-width: 100%;
    width: auto;
    z-index:    2;
}
.header-image-container-dark-bg {
    z-index: 1;
} */ 
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: transparent;
    color: black;
    z-index: 2;
}


.barlist ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.barlist li{
    list-style: none;
}

.barlist li a{
    text-decoration: none;
    color: var(--white);
    padding: 1.8rem;
    display: block;
    font-size: 1rem;
    font-weight: 400;

}
.barlist li a:hover{
    color: var(--hover);
}
#slider {
    position: relative;
    width: 800px;
    height: 600px;
    z-index: 1;
  }
  
#slider img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
} */
   